/* CSS Document */
@font-face {
    font-family: Yanone Kaffeesatz;
    src: url('../fonts/YanoneKaffeesatz-Regular.eot');
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
    font-family: News Cycle;
    src: url('../fonts/NewsCycle-Regular.eot');
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf');
}

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    /*background: #eeeeee;
    */
    color: #444;
}

img {
    border: none;
}

#wrapper {
    width: 98%;
    margin: 0px auto;
}

.header {
    height: 50px;
    border-bottom: 1px solid white;
    background: #61399D;
}

.header_text {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 40px;
    padding-top: 10px;
    width: 400px;
}

.header_font {
    float: right;
    color: #FFFFFF;
    font-size: 12px;
    width: 200px;
    margin-top: -30px;
}

.loge {
    background: url(../img/e_white.png);
    background-repeat: no-repeat;
}

.loge:hover {
    background: url(../img/e_grey.png);
    background-repeat: no-repeat;
}

.header_font a {
    color: #FFF;
    text-decoration: none;
}

.header_font a img:hover {
    content: url('../img/e_grey.png');
}

.header_contain {
    float: right;
    color: #FFFFFF;
    font-size: 12px;
    width: 200px;
    margin-top: -6px;
    font-weight: bold;
}

.toplogo {
    border: 4px solid red;
    float: left;
    height: 75px;
    margin: 13px;
    width: 75px;
}

.language {
    float: left;
    font-size: 12px;
    height: 20px;
    margin: 14px 37px 37px 308px;
    text-align: right;
    width: 175px;
}

.language a {
    text-decoration: none;
    color: #444444;
}

.language a:hover {
    text-decoration: none;
    color: #000000;
}

.users {
    float: left;
    font-size: 12px;
    height: 20px;
    margin: 0 37px 0 133px;
    text-align: right;
    width: 350px;
}

.users a {
    text-decoration: none;
    font-size: 12px;
    color: #444444;
}

.users a:hover {
    text-decoration: none;
    font-size: 12px;
    color: #000000;
}

#menu {
    height: 40px;
    background-color: #61399D;
}

.aside_left {
    width: 15%;
    height: 550px;
    float: left;
    border-right: 3px solid #61399D;
}

.aside a {
    text-decoration: none;
    font: normal 100% 'Yanone Kaffeesatz', arial, sans-serif;
}

.aside_right {
    width: 21.5%;
    height: 550px;
    float: left;
    border-left: 3px solid #61399D;

}

#content_main {
    width: 100%;
    height: 550px;
    float: left;
    background-color: #FFFFFF;
    margin: 4px;
}

#menu {
    height: 28px;

}

#head_info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    /*color:#61399D;*/
    background-color: #61399D;
    color: #FFFFFF;
    clear: both;
}

#button_div {
    height: 18px;
}

#conteudo {
    padding-top: 5px;
}

.footer {
    height: 15px;
    clear: both;
    background: #61399D;
}

.newbutton {
    float: right;
    background-color: #61399D;
    margin-bottom: 4px;
    margin-top: 4px;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font: 12px Arial;
    font-weight: bold;
}

.newbuttondiv {
    background-color: #61399D;
    color: #FFFFFF;
    width: 85px;
    height: 28px;
    border-radius: 8px;
    font: 12px Arial;
    font-weight: bold;
}

.gridbutton {
    /*float:right; */
    background-color: #61399D;
    /*margin-bottom:4px;
    margin-top:4px;
    */
    color: #FFFFFF;
    width: 80px;
    height: 25px;
    border-radius: 8px;
    font: 12px Arial;
    font-weight: bold;
}

.gridbuttonr {
    /*float:right; */
    background-color: red;
    /*margin-bottom:4px;
    margin-top:4px;
    */
    color: #FFFFFF;
    width: 80px;
    height: 25px;
    border-radius: 8px;
    font: 12px Arial;
    font-weight: bold;
}

.popupbutton {
    float: right;
    background-color: #61399D;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font: 12px Arial;
    font-weight: bold;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.expandSlider, .collapseSlider {
    font-size: .6em;
    font-weight: normal;
}