/* CSS Document */

.mGrid {
    width: 100%;
    margin: 5px 0 10px 0;
    border: solid 1px #465c71;
    border-collapse: collapse;
}

.mGrid td {
    padding: 2px;
    border: solid 1px #465c71;
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    height: 25px;
    text-align: center;
}

.mGrid td a {
    text-decoration: none;
}

.mGrid td a:hover {
    text-decoration: underline;
}

.mGrid th {
    padding: 4px 2px;
    color: #ffffff;
    background: #4b6c9e;
    border: solid 1px #465c71;
    font-size: 0.9em;

}

.mGrid .alt {
    background: #D3D3D3;
}

.mGrid .pgr {
    background: #465c71;
}

.mGrid .pgr table {
    margin: 5px 0;
}

.mGrid .pgr td {
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #ffffff;
    line-height: 12px;
    text-align: center;
}

.mGrid .pgr a {
    color: #ffffff;
    text-decoration: none;
}

.mGrid .pgr a:hover {
    color: #ffffff;
    text-decoration: underline;
}