/* CSS Document */
.mGrid {
    width: 100%;
    margin: 5px 0 10px 0;
    border: solid 1px #465c71;
    border-collapse: collapse;
}

.mGrid td {
    padding: 2px;
    border: solid 1px #61399D;
    color: #000000;
    font-family: SamakalMJ;
    font-size: 14px;
    height: 25px;
    text-align: center;
}

.mGrid td a {
    text-decoration: none;
}

.mGrid td a:hover {
    text-decoration: underline;
}

.mGrid th {
    padding: 4px 2px;
    color: #ffffff;
    background: #61399D;
    border: solid 1px #61399D;
    font-weight: bold;
    font-family: SamakalMJ;
    font-size: 14px;
    letter-spacing: 1px;

}

.mGrid .alt {
    background: #D3D3D3;
}

.mGrid .pgr {
    background: #465c71;
}

.mGrid .pgr table {
    margin: 5px 0;
}

.mGrid .pgr td {
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #ffffff;
    line-height: 12px;
    text-align: center;
}

.mGrid .pgr a {
    color: #ffffff;
    text-decoration: none;
}

.mGrid .pgr a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footergrid {
    margin-top: -10px;
    background-color: #61399D;
    color: #FFF;
    border: #999 1px solid;
    height: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footergrid a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #F2F1F0;
    /*color: #ffffff;*/
}