/* CSS Document */
/*---- CROSS BROWSER DROPDOWN MENU ----*/
ul#nav {
    margin: 0 0 0 0;
}

ul.drop a {
    display: block;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

ul.drop, ul.drop li, ul.drop ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #D0D0D0;
    background: #61399D;
    color: #fff;
}

ul.drop {
    position: relative;
    z-index: 597;
    float: left;
}

ul.drop li {
    float: left;
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
    padding: 4px 10px;
}

ul.drop li.hover, ul.drop li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
    background: #6E537F;
}

ul.drop ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 195px;
    background: #555;
    border: 1px solid #D0D0D0;
}

ul.drop ul li {
    float: none;
}

ul.drop ul ul {
    top: -2px;
    left: 100%;
}

ul.drop li:hover > ul {
    visibility: visible
}

